<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <userSettings>
    <Roaming>
      <Bluegrams.Application.UpdateCheckerBase>
        <CheckedUpdate>0.2.2</CheckedUpdate>
      </Bluegrams.Application.UpdateCheckerBase>
    </Roaming>
    <PC_LT-0870-PC>
      <PinWin.Properties.Settings>
        <HotKey>Ctrl+Alt+V</HotKey>
        <TitleLengthLimit>2147483647</TitleLengthLimit>
        <AlwaysCheckForUpdates>False</AlwaysCheckForUpdates>
        <WindowsListAtEnd>True</WindowsListAtEnd>
      </PinWin.Properties.Settings>
    </PC_LT-0870-PC>
  </userSettings>
</configuration>